
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico">-->
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">



  <title>AboutUs | LMS</title>

  <!-- Bootstrap core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../styles/carousel.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="styles/font-awesome.min.css">-->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <!--<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>-->
  <link rel="stylesheet" href="../styles/custom.css">
</head>
<!-- NAVBAR
================================================== -->
<body ng-app="lmspro"  >
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Learning Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#" title="Home">Home<!--<i class="fa fa-home" aria-hidden="true">Home</i>--></a></li>
            <li class="active"><a href="../views/about.html">About</a></li>

            <li><a href="../home.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Login</a></li>
                <li><a href="register.html">Register</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>


  <!-- START THE FEATURETTES -->
 <!-- <hr class="featurette-divider">-->
<hr class="header-after">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">How It Works</h2>
      <br>
      <h4><span class="text">LMS is an education platform that partners with top universities and organizations worldwide, to offer courses online for anyone to take.</span></h4>
      <h4><span class="text">Discover a course and sign up today</span></h4>

    </div>
    <div class="col-md-5">
      <img src="../images/1.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Learn on your own schedule </h2>
      <h4><span class="text-muted"></span></h4>
      <p class="lead">Watch short video lectures, complete peer graded assessments, and connect with fellow learners and instructors.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img src="../images/2.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Achieve your goals</h2>
      <h3></h3>
      <p class="lead">Finish your course and receive formal recognition for your accomplishment with an optional Course Certificate.</p>
    </div>
    <div class="col-md-5">
      <img src="../images/3.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">The LMS experience</h2>
    <h4><span class="text-muted"></span></h4>
    <p class="lead">It’s simple. We want to help you learn better and faster. That’s why we designed our platform based on proven teaching methods verified by top researchers.
      Here are 3 key ideas that were influential in shaping our vision:</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img src="../images/7.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Effectiveness of online learning</h2>
    <h4></h4>
    <p class="lead">Online learning plays a significant role in a lifelong education. In fact, a recent report by
      the U.S. Department of Education found that “classes with online learning (whether taught completely online or blended)
      on average produce stronger student learning outcomes than do classes with solely face-to-face instruction.”</p>
  </div>
  <div class="col-md-5">
    <img src="../images/4.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Mastery learning</h2>
    <h4><span class="text-muted"></span></h4>
    <p class="lead">Based on an approach developed by educational psychologist Benjamin Bloom, Mastery Learning helps learners fully understand a topic before moving onto a
      more advanced topic. On LMS, we typically give immediate feedback on a concept a learner did not understand.
      In many cases, we provide randomized versions of the assignment so a learner can re-study and re-attempt until they master it.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img src="../images/6.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>


<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Blended learning</h2>
    <h4></h4>
    <p class="lead">Many of our partner institutions are using our online platform to provide their on-campus students with an improved learning experience.
      This blended model of learning has shown in studies to increase student engagement, attendance and performance.</p>
  </div>
  <div class="col-md-5">
    <img src="../images/8.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
  </div>
</div>
<hr class="featurette-divider">


  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>&middot;</p>
  </footer>






<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/ngstorage/ngStorage.js"></script>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../scripts/app.js"></script>
<script src="../scripts/service/factory.js"></script>
<script src="../scripts/controllers/user.js"></script>

</body>
</html>


