

<div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Subject</th>
      <th>Date</th>
      <th>Assignment</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>AngularJs</td>
      <td>13/5/2016</td>
      <td><a href="assignment/angular.txt" download class="btn btn-primary btn-xs active" role="button">Download</a></td>
    </tr>
    <tr>
      <td>Boootstrap</td>
      <td>17/5/2016</td>
      <td><a href="assignment/bootstrap.txt" class="btn btn-primary btn-xs active" role="button">Download</a></td>
    </tr>
    <tr>
      <td>JavaScript</td>
      <td>24/5/2016</td>
      <td><a href="assignment/javaScript.txt" class="btn btn-primary btn-xs active" role="button">Download</a></td>
    </tr>
    <tr>
      <td>MongoDb</td>
      <td>27/5/2016</td>
      <td><a href="assignment/mongo.txt" class="btn btn-primary btn-xs active" role="button">Download</a></td>
    </tr>
    <tr>
      <td>NodeJs</td>
      <td>3/6/2016</td>
      <td><a href="assignment/node.txt" class="btn btn-primary btn-xs active" role="button">Download</a></td>

    </tr>
    </tbody>
  </table>
</div>


