<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
 <!-- <link rel="icon" href="../../app/images/favicon.ico">-->
  <title>Welcome Student</title>
  <!-- Bootstrap core CSS -->
  <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/certificate.css">
  <!-- Custom styles for this template -->
  <link href="../styles/dashboard.css" rel="stylesheet">

</head>

<body ng-app="lmsPro">
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Learning Management system</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../index.html">LogOut</a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" ng-controller="dashCtrl">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <div  ng-repeat="data in right" class="nav nav-sidebar">
        <div ng-if="data.link=='#/courses'" align="center">
          <br>
          <li><a href="#/courses">{{data.rightname}}</a></li>
        </div>
        <div ng-if="data.link=='#/assignments'" align="center">
          <li><a href="#/assignments">{{data.rightname}}</a></li>
        </div>
        <div ng-if="data.link=='#/videos'" align="center">
          <li><a href="#/videos">{{data.rightname}}</a></li>
        </div>
        <div ng-if="data.link=='#test'" align="center">
          <li><a href="#test">{{data.rightname}}</a></li>
        </div>
        <div ng-if="data.link=='#/certificate'" align="center">
          <li><a href="#/certificate">{{data.rightname}}</a></li>
        </div>

      </div>
      <!--<ul class="nav nav-sidebar">
        <li><a href="#/courses">View Courses</a></li>
        <li><a href="#/assignments">Assignments</a></li>
        <li><a href="#/videos">Watch Videos</a></li>
        <li><a href="#test">Give test</a></li>
        <li><a href="#/certificate">Certificate</a></li>
      </ul>-->
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome{{' '+firstname+' '+lastname}}</h1>


<div>
  <ng-view></ng-view>
</div>
      <!--detail modal starts-->
      <div class="modal fade" tabindex="-1" role="dialog" id="detailModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!--<div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Learning Management System</h4>
            </div>-->
            <div class="modal-body">
              <div class="panel panel-custom mrg">
                <div class="panel-heading">Exam Details<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button></div>
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table">
                      <tbody><tr>
                        <td><strong class="text-primary">Name</strong></td>
                        <td><strong class="text-success">MCQ</strong></td>
                        <td><strong class="text-primary">Type</strong></td>
                        <td><strong class="text-success">Exam</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-primary">Passing Percentage</strong></td>
                        <td><strong class="text-success">50%</strong></td>
                        <td><strong class="text-primary">Duration</strong></td>
                        <td><strong class="text-success">1 hr</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-primary">Start Date</strong></td>
                        <td><strong class="text-success">01-06-2016</strong></td>
                        <td><strong class="text-primary">End Date</strong></td>
                        <td><strong class="text-success">31-06-2016</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-primary">Negative Marking</strong></td>
                        <td><strong class="text-success">Yes</strong></td>
                        <td><strong class="text-primary">Total Marks</strong></td>
                        <td><strong class="text-success">300.00</strong></td>
                      </tr>
                      </tbody></table>
                    <table class="table">
                      <tbody><tr>
                        <th><strong class="text-primary">Subject</strong></th>
                        <th><strong class="text-primary">Total Question</strong></th>
                      </tr>
                      <tr>
                        <td><strong class="text-success">Angularjs</strong></td>
                        <td><strong class="text-success">10</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-success">NodeJs</strong></td>
                        <td><strong class="text-success">10</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-success">MongoDB</strong></td>
                        <td><strong class="text-success">10</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-success">Express</strong></td>
                        <td><strong class="text-success">10</strong></td>
                      </tr>
                      <tr>
                        <td><strong class="text-danger">Total</strong></td>
                        <td><strong class="text-danger">40</strong></td>
                      </tr>
                      <!-- <tr>
                         <td colspan="4">
                           <a href="#"  data-toggle="modal" data-target="#questionModal" title="Attempt Now" target="_blank" class="btn btn-success"><span class="fa fa-sign-in"></span> Attempt Now</a>
                         </td>
                       </tr>-->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--detail modal ends-->

      <!--question modal starts-->
      <div class="modal fade" tabindex="-1" role="dialog" id="questionModal">
        <div class="col-md-6">
          <div class="exam-border">
            <h3></h3>
          </div>
        </div>
        <div class="container">
          <div class=" col-md-12 col-sm-6">
            <div class="panel panel-danger">
              <div class="panel-heading">Warning!</div>
              <div class="panel-body">
                <div class="bg-success">
                  <h3>
                    <p>Please Close All Programs that Upload or Download Files, Chat Window, Screen-Saver in Background <br>
                      Do not Press "F5" Key It will Restart Your Test And All Progress Will Be Failed
                    </p>
                    <p>Ready To Start Exam click Next</p>
                    <a href="../views/test/first.html" class="btn btn-primary btn-md active -align-center" role="button">Next</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--question modal ends-->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/ngstorage/ngStorage.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="../scripts/app.js"></script>
<script src="../scripts/service/factory.js"></script>
<script src="../scripts/controllers/user.js"></script>
</div>
</div>
</div>
</body>
</html>
