<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Details</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>AngularJs</td>
            <td>13/5/2016</td>

        </tr>
        <tr>
            <td>Boootstrap</td>
            <td>17/5/2016</td>

        </tr>
        <tr>
            <td>ExpressJs</td>
            <td>20/5/2016</td>

        </tr>
        <tr>
            <td>JavaScript</td>
            <td>24/5/2016</td>

        </tr>
        <tr>
            <td>MongoDb</td>
            <td>27/5/2016</td>

        </tr> <tr>
            <td>Npm</td>
            <td>31/5/2016</td>

        </tr>
        <tr>
            <td>NodeJs</td>
            <td>3/6/2016</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>