<div class="col-sm-12 col-md-12">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default btn-primary" href="#" data-toggle="modal" data-target="#angular">AngularJs</button>
    <button type="button" class="btn btn-default btn-danger" href="#" data-toggle="modal" data-target="#express">ExpressJs</button>
    <button href="#" type="button" class="btn btn-default btn-info" data-toggle="modal" data-target="#mongo">MongoDb</button>
    <button type="button" class="btn btn-default btn-success" href="#" data-toggle="modal" data-target="#node">NodeJs</button>
  </div>
</div>
<br>
<br>
<div class="modal fade" tabindex="-1" role="dialog" id="angular">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      <h4 class="modal-title">Videos</h4>
    </div>
    <div class="modal-body">
      <div class="col-sm-12 col-md-12">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video  controls="controls" class="embed-responsive-item">
            <source src="https://www.youtube.com/watch?v=zKkUN-mJtPQ&list=PL6n9fhu94yhWKHkcL7RJmmXyxkuFB3KSl" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="express">
  <div class="modal-dialog">
    <div class="modal-content">

      <h4 class="modal-title">Videos</h4>
    </div>
    <div class="modal-body">
      <div class="col-sm-6 col-md-12">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video  controls="controls" class="embed-responsive-item">
            <source src="https://www.youtube.com/watch?v=GJmFG4ffJZU" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="mongo">
  <div class="modal-dialog">
    <div class="modal-content">

      <h4 class="modal-title">Videos</h4>
    </div>
    <div class="modal-body">
      <div class="col-sm-6 col-md-12">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video  controls="controls" class="embed-responsive-item">
            <source src="https://www.youtube.com/watch?v=liQzIsFnCr0" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" id="node">
  <div class="modal-dialog">
    <div class="modal-content">

      <h4 class="modal-title">Videos</h4>
    </div>
    <div class="modal-body">

      <div class="col-sm-6 col-md-12">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <video  controls="controls" class="embed-responsive-item">
            <source src="https://www.youtube.com/watch?v=-u-j7uqU7sI&list=PL6gx4Cwl9DGBMdkKFn3HasZnnAqVjzHn_" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>

